@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  min-height: 100vh;
}
a,button{
  transition: all .3s;
}
body{
  max-width: 100%;
  overflow-x: hidden;
}
.productcards-slider .slick-track{
  display: flex;
  column-gap: 30px;
}
.productcards-slider .slick-track:before, .productcards-slider .slick-track:after{
  display: none;
}
.pc_add-to-cart-btn:disabled{
  opacity: .7;
}
.product-img{
  mix-blend-mode: multiply;
}
.home-hero .slide-wrap::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 70%);
  z-index: 1;
}
@media screen and (min-width:1024px){
  .product-card .pc_add-to-card-wrap{
    transform: translateY(120%);
  }
  .product-card:hover .pc_add-to-card-wrap{
    transform: translateY(0%);
  }
}
