@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  min-height: 100vh;
}
a,button{
  transition: all .3s;
}
body{
  max-width: 100%;
  overflow-x: hidden;
}
.productcards-slider .slick-track{
  display: flex;
  column-gap: 30px;
}
.productcards-slider .slick-track:before, .productcards-slider .slick-track:after{
  display: none;
}
.pc_add-to-cart-btn:disabled{
  opacity: .7;
}
.product-img{
  mix-blend-mode: multiply;
}
.home-hero .slide-wrap::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 70%);
  z-index: 1;
}
.cart-sidepanel{
  position: fixed;
  left: auto;
  right:0;
  top: 60px;
  bottom: 0;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: #fff;
  z-index: 999;
  transform: translateX(110%);
  transition: all .3s;
}
.cart-sidepanel.in{
  transform: none;
}
.bg-overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  opacity: 0;
  background: rgba(0,0,0,.3);
  visibility: hidden;
  transition: all .3s;
}
.bg-overlay.in{
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width:1024px){
  .product-card .pc_add-to-card-wrap{
    transform: translateY(120%);
  }
  .product-card:hover .pc_add-to-card-wrap{
    transform: translateY(0%);
  }
}
@media screen and (max-width: 767px){
  .site-nav{
    position: fixed;
    left: auto;
    right:0;
    top: 50px;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: #fff;
    z-index: 999;
    transform: translateX(110%);
    transition: all .3s;
  }
  .site-nav.in{
    transform: none;
  }
  .toggle-menu svg{
    width: 1.5rem;
    height: 1.5rem;
  }
  .cart-sidepanel{
    top: 50px;
    max-width: unset;
  }
}
